In [1]:
import json
import pandas as pd
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyA8dLxSuYgpBzYH6aQ3jdHUXnhCVgfdTQg")

In [2]:
# Raw reviews data file as received from Yelp
all_reviews_file = '../raw-data/yelp_academic_dataset_review.json'
all_businesses_file = '../raw-data/yelp_academic_dataset_business.json'

In [3]:
def get_df(json_file_name, max_rows=None, city=None, select_keys=None):
    """ Return dataframe from raw data.
    All rows unless max_rows is set. All cities unless city is set. All columns unless select_keys is set.
    """
    with open(json_file_name, 'r') as f:
        i_row = 0
        df_dict_list = []
        for line in f:
            row_dict = json.loads(line)
            row_city = row_dict.get('city', '')
            if select_keys is not None:
                row_dict = {k: row_dict[k] for k in select_keys}
            if (city is None) or (city == row_city):
                df_dict_list.append(row_dict)
                i_row += 1
            if (max_rows is not None) and (i_row >= max_rows):
                break
        df = pd.DataFrame(df_dict_list)
        return df

In [4]:
df = get_df(all_businesses_file, select_keys=['city', 'state', 'latitude', 'longitude'])
df.head()

        city   latitude   longitude state
0      Tempe  33.378214 -111.936102    AZ
1  Las Vegas  36.192284 -115.159272    NV
2    Toronto  43.661054  -79.429089    ON
3    Oakdale  40.444544  -80.174540    PA
4    Toronto  43.659829  -79.375401    ON

In [5]:
# Print all unique cities from most business listings to least

states_series = df['state'].value_counts()

print('{} unique state abbrevs:'.format(len(states_series)))

for state, n_businesses in zip(states_series.index, states_series):
    print('{:50} {:6}'.format(state, n_businesses))

29 unique state abbrevs:
AZ                                                  43492
NV                                                  28214
ON                                                  24507
NC                                                  10177
OH                                                   9966
PA                                                   8091
QC                                                   6668
WI                                                   3899
EDH                                                  3539
BW                                                   2905
IL                                                   1556
SC                                                    498
MLN                                                   191
HLD                                                   172
FIF                                                    72
ELN                                                    36
WLN                                                    34
NI                                                     20
NY                                                     13
ESX                                                    11
SCB                                                     3
FAL                                                     1
NLK                                                     1
VT                                                      1
FLN                                                     1
KHL                                                     1
NTH                                                     1
PKN                                                     1
STG                                                     1

In [6]:
locations = list(zip(df['latitude'], df['longitude']))

In [7]:
m = gmaps.Map()
m.add_layer(gmaps.heatmap_layer(locations))
m

In [8]:
df_az = df[df['state'] == 'AZ']
print(len(df_az))
df_az.head()

43492

          city   latitude   longitude state
0        Tempe  33.378214 -111.936102    AZ
6   Scottsdale  33.585271 -111.834954    AZ
7   Scottsdale  33.586710 -111.835410    AZ
8   Scottsdale  33.586440 -111.832579    AZ
13     Phoenix  33.796774 -112.115451    AZ

In [9]:
locations_az = list(zip(df_az['latitude'], df_az['longitude']))

In [10]:
m_az = gmaps.Map()
m_az.add_layer(gmaps.heatmap_layer(locations_az))
m_az

In [12]:
m_az_2 = gmaps.Map()
some_businesses_layer = gmaps.symbol_layer( locations_az[:100], fill_color="green", stroke_color="green", scale=2)
m_az_2.add_layer(some_businesses_layer)
m_az_2